node_modules
**/winnerBlockchain1.csv
**/winnerBlockchain2.csv
**/winnerBlockchain3.csv
**/derivationPaths
**/encryptedS**
**/.test.d0

**/settings.json

# Ignore built ts files
build/**/*

# ignore yarn.lock
yarn.lock
**/package-lock.json

# ignore settings.json
**/settings.json